*.pyc
__pycache__/
.env
*.env
*.sqlite3
db.sqlite3
*.log
*.pot
*.mo
*.pyo
*.pyd
*.db
*.DS_Store
*.swp
*.swo
node_modules/
dist/
build/
*.egg-info/
*.egg
.vscode/
.idea/
*.iml
*.bak
*.tmp
*.cache
*.coverage
*.mypy_cache/
*.pytest_cache/
*.ipynb_checkpoints
.envrc
*.orig
*.lock
*.tar.gz
*.zip
*.tgz
*.gz
*.rar
*.7z
uploads/
media/
staticfiles/
.venv/
*.pth
*.npy